@import 'includes/fonts';
@import 'includes/colors';
@import 'includes/grid';

body {
	background: $bg-color;
}

h1 {
	color: $h1-color;
	font-family: 'HelveticaNeue-Light';
	text-align: center;
	margin-top: 40px;
}