doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // build:css css/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css css/main.css
    link(rel='stylesheet' href='css/main.css')
    // endbuild
  body
    .container
      .row
        h1 Hello world!
    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild