@import 'reset';
@import 'fonts';
@import 'colors';

body {
	background: $bg-color;
}

h1 {
	color: $h1-color;
	font-family: 'Proxima-Nova-Light';
	text-align: center;
	margin-top: 40px;
}